/* Global styles */
.dashboard-section {
    background: white;
    border-radius: 12px;
    margin-top: 20px;
    padding: 20px 80px 30px 80px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.admin-header {
    margin-bottom: 0px;
}

.dashboard-paragraph {
    margin-top: 0;
}

/* Stats Section */
.stats-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.stat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 16px;
    border: solid 8px #E6E6E6;
    padding: 10px 60px 10px 60px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.stat-card.cyan {
    background: #00bcd4;
}

.stat-card.purple {
    background: #6a1b9a;
}

.stat-title {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 600;
}

.total-num {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 35px;
    font-weight: 700;
}

.stat-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 13px;
    opacity: 0.8;
}

/* Main Section */
.main-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
    margin-top: 40px;
}