.booth {
    background-color: #4a1fa6;
    color: white;
    display: inline-block;
    padding: 10px 25px 10px 90px;
    border-radius: 4px;
    font-size: 1.5rem;
    position: relative;
    right: 79px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* calendar area */

.calendar-area {
    background: white;
    border-radius: 12px;
    margin-top: 10px;
    padding: 10px 80px 10px 80px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 89.6%;
}

.calendar-bar {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.calendar-btn {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.date-input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
}

/* booth area */

.booth-area {
    background: white;
    border-radius: 12px;
    margin-top: 10px;
    padding: 10px 80px 10px 80px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}